:root {
    background-color: #ecf5ff;
    font-size: 62.5%; /*62.5% of 16px = 10px*/
}

* {
    box-sizing: border-box; /*default borders inside of box-sizing*/
    font-family: Arial, Helvetica, sans-serif; /*default font*/
    margin: 0; /*remove default margin*/
    padding: 0; /*remove default padding*/
    color: #333; /*default text color*/
}

h1, h2, h3, h4 {
    margin-bottom: 1rem; /*default margin-bottom*/
}

h1 {
    font-size: 5.4rem; /*5.4 * 10px = 54px*/
    color: #56a5eb;
    margin-bottom: 5rem;    
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem; /*4.2 * 10px = 42px*/ 
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* ========= LAYOUT CLASSES ========= */

.container {
    width: 100vh; /*100% of viewport height*/
    height: 100vh; /*100% of viewport height*/
    display: flex;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    margin: 0 auto; /*center container padding/margin*/
    max-width: 80rem; /*80 * 10px = 800px*/
}

.container > * {
    width: 100%; /*100% of container for easy child alignment*/
}

/*Vertical Flexbox*/
.flex-column { 
    display: flex;
    flex-direction: column;
}

/*Center Flexbox*/
.flex-center {
    justify-content: center;
    align-items: center;
}

/*Justify Center Flexbox*/
.justify-center {
    justify-content: center;
}

/*Text-Align Center Flexbox*/
.text-center {
    text-align: center;
}

/*Hide Layout Items*/
.hidden {
    display: none;
}

/* ========= BUTTON CLASSES ========= */

.btn {
    font-size: 1.8rem; /*1.8 * 10px = 18px*/
    padding: 1rem 0; /*1rem top/bottom, 0 left/right*/
    width: 20rem; /*20 * 10px = 200px*/
    border: 0.1rem solid #56a5eb; /*0.1rem = 1px*/
    margin-bottom: 1rem; /*1rem = 10px*/
    text-decoration: none; /*remove default underline*/
    text-align: center; /*center text*/
    color: #56a5eb; /*default text color*/
    background-color: white; /*default background color*/
}

.btn:hover {
    cursor: pointer; /*change cursor on hover*/
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5); /*add shadow on hover*/
    transform: translateY(-0.1rem); /*move button up 1px*/
    transition: transform 150ms; /*add transition*/
}

.btn[disabled]:hover{
    cursor: not-allowed; /*change cursor on hover*/
    box-shadow: none; /*remove shadow on hover*/
    transform: none; /*no transform on hover*/
}